@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
html,body{
    height: 100%; 
    margin: 0; 
    font-family: 'Lato';
    
}

.conteudo{
    display: flex;
    flex-direction: column;
    
}

.container{
    width: 75%;
    max-width: 1100px;
}

.menu{
    height: 60px;
    width: 100%; 
    background-color: #1f1f1f; 
    color: white;
    display: flex;
    align-items: center ;
    justify-content: center;
}
.menu img{
    height: 40px;
    width: 40px; 
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.corpo{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #f7f7f7;
}
.corpo h2{
    padding-bottom: 20px;
    border-bottom: 2px solid #d1d1d1;
}

.itens{
    display: flex;
     /*Estas duas propriedados são o mesmo que flex-flow: row wrap*/
    flex-direction: row; 
    flex-wrap: wrap ;  
    /*-----*/
    justify-content: space-around;
}
.item{
    height: 300px;
    width: 225px;
    border: 1px solid #d1d1d1;
    border-radius: 5px;
    background-color: white;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.2s;
    padding: 10px;
}

.item:hover{
    box-shadow: 0px 2px 6px 0px #5e5e5e;
}
.imagens{
    height: 200px;
    border-bottom: 1px solid #d1d1d1 ;
}
.item img{
    width: 225px ;
    height: auto;
}
.item button{
    background-color: white;
    cursor: pointer;
    border: 2px solid #1f1f1f;
    border-radius: 5px;
    height: 35px;
    width: 100px;
    transition:  0.2s;
}
.item button:hover{
    background-color: #1f1f1f;
    color: white;
}

#titleProduct{
    font-size: 22px;
    font-weight: bold;
}
#price{
    font-size: 18px;
    color:#19731d;
}
footer{
    color:white;
    background-color: #1f1f1f; 
    display: flex;
    justify-content: center;
    align-items: center;
}